<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Compisiton</title>
</head>
<body>
    <h1>{{.Name}}
    <h2>{{.Age}}
    {{if .LicenseToKill}}
    <h3>License To Kill</h3>
    {{else}}
    <h3>License To Ill</h3>
    {{end}}
</body>
</html>